<html>

<head>
    <title>Argument Search - Better Decision Making with Argument Mining</title>
    <meta name="Description"
          content="We use Text Mining, Deep Learning and Big Data Analytics to unleash the potential of unstructured data and to integrate unused assets into decision-making processes.">
    <meta name="Keywords"
          content="TU Darmstadt, argument, argument search engine, arguments, argument search, arguments search, argument mining, argumentation mining, argument analysis, pro con arguments, pro, con">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/temscripts.js"></script>

</head>

<body>

<!-- favicon -->
<link rel="shortcut icon" href="static/favicon.ico" type="image/png">

<!-- header -->
<div class="header" id="header">

    <!-- logo
    <div id="logo" class="logo">
        <a title="ArgumenText" href="/index"><img alt="[ArgumenText logo]" src="static/logo-transparent-beta.png" width="215px"></a>
    </div>-->

    <!-- search bar -->
    <form method="POST">
        <div id="searchbar" class="searchbar">
            <input id="queryInput" type="text" name="query" value="" size="90" placeholder="Search...">
            <input id="predictButton" type="submit">

        </div>
    </form>

    <!-- content -->
    <div class="content">

        <!--<div id="loader"></div>-->


    </div>
</div>
</body>
</html>
