<html>

<head>
    <title>Argument Search - Better Decision Making with Argument Mining</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/temscripts.js"></script>

</head>

<body>

<!-- favicon -->
<link rel="shortcut icon" href="static/favicon.ico" type="image/png">

<!-- header -->
<div class="header" id="header">


</div>
<!-- content -->
<div class="content">
    <!-- logo-->
    <div id="logo" class="logo">
        <a title="Argumen spider" href="/index"><img alt="[Argumen Spider logo]" src="static/spidercartoon.png"
                                                    hspace="150"  width="215px"></a>
    </div>

    <!-- search bar -->
    <form method="POST">
        <div id="searchbar" class="searchbar">
            <input id="queryInput" type="text" name="query" value="" size="90" placeholder="Search...">
            <input id="predictButton" type="submit">
        </div>
    </form>

</div>
<!--<div id="loader"></div>-->


</body>
</html>
